
 /* will delete the above once finished  --------------------------------*/
body {
    background-color: lavenderblush;
    margin: 0;
    justify-content: center;
    text-align: center;

}

.board {
    margin:auto; /*this makes it centered */
    display: flex;
    flex-direction: row-reverse;
    width: 500px;
    justify-content: center;

}
.slot {
    display: flex;
    width: 80%; 
    height: 5em;
    border: 4px solid fuchsia;
    text-align: center;
    align-items: center;  
    justify-content: center; 

}
.column {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    /* position:relative; */
  

}
.main-page {
    font-size: 1.75em;    
}
#play-game{
    padding: 10px 32px;
    font-size: 1em;
    font-weight: bold;
}
#instruction-modal {
    border: 5px solid deeppink;
    justify-content: center;
    align-items: center;
    padding: 5em;
}
dialog::backdrop {
    background-color: hsla(308, 100%, 97%, 0.962);
}

#end-game-modal {
    border: 5px solid plum;
    justify-content: center;
    align-items: center;
    padding: 5em;
}
/* #play-game {

} */