
.main-page {
    border: 5px solid palevioletred;
}

.board {
    border: 5px solid white;
}
 /* will delete the above once finished  --------------------------------*/
body {
    background-color: lavenderblush;
    margin: 0;
    justify-content: center;
    text-align: center;
}

.board {
    margin:auto; /*this makes it centered */
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    border: 3px solid gold;
}
.slot {
    display: flex;
    width: 20%;
    height: 5em;
    border: 2px solid black;
    text-align: center;
    align-items: center;  
    justify-content: center; 

}
.row {
    display: flex;
}
.main-page {
    font-size: 1.75em;    
}
#play-game{
    padding: 10px 32px;
    font-size: 1em;
    font-weight: bold;
}
#instruction-modal {
    border: 5px solid deeppink;
    justify-content: center;
    align-items: center;
    padding: 5em;
}
dialog::backdrop {
    background-color: hsla(308, 100%, 97%, 0.962);
}

#end-game-modal {
    border: 5px solid plum;
    justify-content: center;
    align-items: center;
    padding: 5em;
}
/* #play-game {

} */